---
import { ClientRouter } from "astro:transitions";

import Header from "./Header.astro";
import "../styles/global.css";

import type { UILang } from "@i18n/ui";

interface Props {
  lang: UILang;
}

const { lang }: Props = Astro.props;
---

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Arctic Roots</title>

    <ClientRouter />
  </head>
  <body class="flex flex-col min-h-screen">
    <Header lang={lang} />
    <main class="flex-1 bg-white">
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
